.playerContainer{
    padding: 3rem 4rem; //3rem vertical, 4rem horizontal
    
    width: 26.5rem;
    height: 100vh; //significa altura maxima da tela: 100 view hight

    background: var(--purple-500);
    color: var(--white); //cor do texto

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    header{
        display: flex;
        align-items: center;

        // espacamento de 1rem entre os elementos
        gap: 1rem; //gap é uma propriedade nova do css que talvez não funcione em todos os navegadores
        // verificar em caiuse.com
    }

    strong{
        font-family: Lexend, sans-serif;
        font-weight: 600;
    }

    footer{
        // ocupar a largura toda do footer
        align-self: stretch; //remover align-items: center; do pai
        &.empty{
            opacity:0.5;
        }
    }
}
.emptyPlayer{
    width: 100%;
    height: 20rem;

    border: 1.5px dashed var(--purple-300);
    border-radius: 1.5rem;
    // copiado do arquivo do figma
    background: linear-gradient(143.8deg, rgba(145,100, 250, 0.8) 0%, rgba(0,0,0,0) 100%);

    // texto
    padding: 4rem; //espaçamento interno
    text-align: center;
    display: flex;
    align-items: center;

    //justify-content: top;
}

.progress{ //barra de progresso do audio
    display: flex;
    align-items: center;
    gap:1rem;

    span{ //segundo e minuto do audio
        display: inline-block;
        width: 4rem; 
        text-align: center;
    }
    
    .slider{
        flex:1;
    
        .emptySlider{
            width: 100%;
            height: 4px;
            background: var(--purple-300);
            border-radius: 2px;
    }
}

}

.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2.5rem;
    gap: 1.5rem;

    button{ //como será cada botão
        background: transparent;
        border: 0;
        font-size:0; //centralizar a imagem de centro do botao
        
        &.playButton{
            width: 4rem;
            height: 4rem;
            border-radius: 1rem;
            background: var(--purple-400)
        }
    }
}
